@model HomeViewModel


<div class="pt-4">

    <h5 class="text-danger mb-4">Welcome Back, John</h5>

    <div class="mx-auto" style="max-width:50rem;">
        @* <div class="border rounded-3 px-3 py-2 mb-5" style="background-color:#f5f5f5;">
            <p class="fw-bold fs-5 text-black-50 text-center">Filter Transaction</p>
            <div class="d-flex flex-wrap gap-3 w-100">
                <div class="mb-3 flex-grow-1">
                    <label class="form-label mb-0 ps-2">Start Date</label>
                    <input type="date" class="form-control">
                </div>
                <div class="mb-3 flex-grow-1">
                    <label class="form-label mb-0 ps-2">End Date</label>
                    <input type="date" class="form-control">
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-success btn-sm">Search</button>
            </div>
        </div> *@
        <div class="w-100 d-flex flex-wrap gap-4">
            <div class="flex-grow-1 back-color rounded d-flex border shadow">
                <span class="bg-dark rounded-start p-2">
                    <i class="bi bi-currency-dollar text-primary" style="font-size:2.5rem;"></i>
                </span>
                <div class="w-100 d-flex flex-column align-items-center justify-content-center p-2">
                    <span class="fs-5">Total Income</span>
                    <span class="fw-bold fs-5 text-primary">@Model.TotalIncome</span>
                </div>
            </div>
            <div class="flex-grow-1 back-color rounded d-flex border shadow">
                <span class="bg-dark rounded-start p-2">
                    <i class="bi bi-currency-dollar text-danger" style="font-size:2.5rem;"></i>
                </span>
                <div class="w-100 d-flex flex-column align-items-center justify-content-center p-2">
                    <span class="fs-5">Total Expense</span>
                    <span class="fw-bold fs-5 text-danger">@Model.TotalExpense</span>
                </div>
            </div>
            <div class="flex-grow-1 back-color rounded d-flex border shadow">
                <span class="bg-dark rounded-start p-2">
                    <i class="bi bi-currency-dollar text-success" style="font-size:2.5rem;"></i>
                </span>
                <div class="w-100 d-flex flex-column align-items-center justify-content-center p-2">
                    <span class="fs-5">Total Balance</span>
                    <span class="fw-bold fs-5 text-success">@Model.Balance</span>
                </div>
            </div>
        </div>
    </div>
</div>
