@* 
<div class="">
    <div class="pt-2 mb-4">
        <p class="fs-5 fw-bold text-danger mb-0">Welcome Back, John</p>
        <a asp-controller="Transaction" asp-action="Index" class="link-primary fw-bold text-decoration-none">My Transactions
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                </svg>
            </span>
        </a>
    </div>
    <div class="mx-auto" style="max-width:50rem;">
        <div class="border rounded-3 px-3 py-2 mb-5" style="background-color:#f5f5f5;">
            <p class="fw-bold fs-5 text-black-50 text-center">Filter Transaction</p>
            <div class="d-flex flex-wrap gap-3 w-100">
                <div class="mb-3 flex-grow-1">
                    <label class="form-label mb-0 ps-2">Start Date</label>
                    <input type="date" class="form-control">
                </div>
                <div class="mb-3 flex-grow-1">
                    <label class="form-label mb-0 ps-2">End Date</label>
                    <input type="date" class="form-control">
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-success btn-sm">Search</button>
            </div>
        </div>
        <div class="w-100 d-flex flex-wrap gap-4">
            <div class="flex-grow-1 back-color rounded d-flex border shadow">
                <span class="mb-0 text-primary bg-dark rounded-start p-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                        <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z" />
                    </svg>
                </span>
                <div class="w-100 d-flex flex-column align-items-center justify-content-center">
                    <span class="fs-5">Total Income</span>
                    <span class="fw-bold fs-5 text-primary">$2245</span>
                </div>
            </div>
            <div class="flex-grow-1 back-color rounded d-flex border shadow">
                <span class="mb-0 text-danger bg-dark rounded-start p-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                        <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z" />
                    </svg>
                </span>
                <div class="w-100 d-flex flex-column align-items-center justify-content-center">
                    <span class="fs-5">Total Expense</span>
                    <span class="fw-bold fs-5 text-danger">$1645</span>
                </div>
            </div>
            <div class="flex-grow-1 back-color rounded d-flex border shadow">
                <span class="mb-0 text-success bg-dark rounded-start p-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                        <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z" />
                    </svg>
                </span>
                <div class="w-100 d-flex flex-column align-items-center justify-content-center">
                    <span class="fs-5">Total Balance</span>
                    <span class="fw-bold fs-5 text-success">$450</span>
                </div>
            </div>
        </div>
    </div>
</div>
 *@