
<div class="mt-5 text-center">
    <p class="text-danger fs-5">
        Your password have been added successfully. You can now use either
        your local user account or an external account to login.
    </p>
</div>