@model AddPasswordViewModel


<div class="d-flex justify-content-center align-items-center">
    <form class="mt-5 bg-white p-3 rounded border shadow" style="width:40rem;" method="post" asp-controller="Account" asp-action="AddPassword">
        <p class="text-center fs-3 fw-bold">Add Password</p>
        <div class="text-danger validation" asp-validation-summary="ModelOnly"></div>
        <div class="mb-3">
            <label asp-for="NewPassword" class="form-label fw-bold"></label>
            <input type="password" class="form-control" asp-for="NewPassword">
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ConfirmNewPassword" class="form-label fw-bold"></label>
            <input type="password" class="form-control" asp-for="ConfirmNewPassword">
            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-danger w-100">Add Password</button>
    </form>
</div>