@using ExpenseTracker.Enum
@model CreateTransactionViewModel

<div class="pt-3">
    <h4>Add New Transaction</h4>
    <p class="text-black-50">
        <i class="bi bi-house-fill"></i>
        <i class="bi bi-chevron-right"></i>
        <a asp-controller="Transaction" asp-action="Index" class="text-black-50">Transaction</a>
        <i class="bi bi-chevron-right"></i>
        <a asp-controller="Transaction" asp-action="Create" class="text-black-50">Add</a>
    </p>

    <div class="pt-2 d-flex flex-wrap justify-content-center align-items-center gap-5">
        <div class="p-3 rounded" style="width:30rem;background-color:lightblue">
            <image src="/images/transaction.png" class="rounded mx-2" style="width:100%;height:auto;" />
        </div>
        <form method="post" asp-controller="Transaction" asp-action="Create" class="py-3 px-5 rounded shadow" style="background-color:aliceblue;width:30rem;">
            <div class="mb-3">
                <label asp-for="Date" class="form-label"></label>
                <input type="date" class="form-control" asp-for="Date" max="@Model.Date.ToString("yyyy-MM-dd")">
                <span asp-validation-for="Date" class="text-danger fw-normal"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Type" class="form-label"></label>
                <select class="form-select" asp-for="Type" asp-items="@(Html.GetEnumSelectList<TransactionType>())">
                    <option value="">Select Type</option>
                </select>
                <span asp-validation-for="Type" class="text-danger fw-normal"></span>
            </div>
            <div class="mb-3">
                <label asp-for=CategoryId class="form-label"></label>
                <select class="form-select" asp-for="CategoryId" asp-items="@Model.Categories">
                    <option selected>Select Category</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger fw-normal"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Note" class="form-label"></label>
                <textarea class="form-control" asp-for="Note"></textarea>
                <span asp-validation-for="Note" class="text-danger fw-normal"></span>
            </div>
            <div class="mb-3">
                <label asp-for=Amount class="form-label"></label>
                <input type="number" class="form-control" asp-for="Amount">
                <span asp-validation-for="Amount" class="text-danger fw-normal"></span>
            </div>
            <div class="pt-3">
                <button type="submit" class="btn btn-success w-100">Submit</button>
            </div>
        </form>
    </div>
</div>